
.products {
    display: flex;
}

.product-item {
    flex: auto;
    margin: 10px;
    padding: 10px;
    background-color: gray;
    color: white;
}

.dropdown .dropdown-item { 
    width: 400px!important; 
}

.item-remove button {
    font-size: 2.5em;
    width: 100%;
    margin: auto;
}

button:focus {
    outline: 0;
}

#cart-computations {
    text-align: right;
}